.container {
    width: min(100%, 1440);

    margin: auto;
}

/* header */
header {
    background-color: #E3DAD8;
    display: flex;
    justify-content: space-between;

    padding: 24px 150px;

}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


h2 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    color: #000000;

}

.header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header_a {
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.44023728370666504px;
    color: #000000;
}

.header_ul {
    display: flex;

    column-gap: 36px;
    list-style: none;


}

.header_action {
    display: flex;
    justify-content: center;
    align-items: center;

}

h3 {

    font-family: Inter;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: -0.44023728370666504px;

    color: #FFFFFF;
    border: 1px solid#524A44;
    border-radius: 32px;
    background-color: #524A44;
    padding: 12px 18px 12px 19px;


}

.burger {
    display: none;
}


/* section1 */

.section_1 {
    display: flex;
    align-items: center;
    column-gap: 160px;
    padding: 60px 150px;
    background-color: #000000;
    height: 520px;




}

.section1_left_img {
    width: 490px;
    height: 400px;
    top: 60px;
    left: 150px;
    gap: 0px;
    border-radius: 32px 0px 0px 0px;
    opacity: 0px;




}

h4 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.10000000149011612px;
    color: #FFFFFF;

}

.section1_right_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    color: #FFFFFF;

}

/* section2 */

.section2 {
    width: calc(1140 / 1440 * 100%);
    /* background-color: aqua; */
    margin: 80px auto;
}

.section2_cards_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.section2_cards {
    /* border: 1px solid #E3DAD8; */
    width: 360px;
    background-color: #E3DAD8;


}

h5 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;

    color: #000000;
}

.section2_cards_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    color: #000000;

}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    background-color: #000000;
    padding: 96px 150px;
}

.footer_section_leftside {}

h6 {
    font-family: Inter;
font-size: 24.65px;
font-weight: 900;
line-height: 26.41px;
letter-spacing: -0.44023728370666504px;
text-align: left;
color: #FFFFFF;

}

.footer_section_rightside{
    display: flex;
    align-items: flex-end;
    
}
.footer_section_title{
    
    
    
}

h1 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #FFFFFF;

}

.footer_section_nav {
    
}

.footer_section_ul {
   list-style: none;
  
}

.footer_section_li {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
}