@media (max-width: 745px) {

    /* header  */
    header {
        padding: 24px;
    }

    .burger {
        display: block;
    }

    .header_nav,
    .header_action {
        display: none;
    }

    /* section1 */
    .section_1 {
        padding: 24px;

    }

    .section1_left_box {
        height: 320px;
    }




    .section1_rigth_box {

        flex-direction: column;

        row-gap: 20px;


    }

    h4,
    .section1_rigth_text {

        width: 100%;

        text-align: center;
    }

    /* section2 */
    .section2 {
        margin-block: 80px;
        flex-direction: column;
        row-gap: 20px;
    }


    .circle_and_title {
        justify-content: center;
    }


    .section2_cards_text {
        text-align: center;
    }

    /* footer */
    footer {
        flex-direction: column;
        row-gap: 32px;
        align-items: center;
    }


}